@import '~@angular/material/theming';
@import './style.scss';

.top-toolbar {
	position: fixed;
	top: 0;
	z-index: 2;
}

.after-toolbar {
	padding-top: 64px;
	min-width: 100%;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	mat-sidenav-content {
		flex: 1 1 auto;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
}

mat-sidenav.main-sidenav {
	padding-top: 64px;
	min-width: 15em;
	box-shadow: 3px 0 6px rgba(0,0,0,.24);

	.sidenav-item-group {
		display: flex;
		flex-direction: column;

		mat-button-toggle {
			flex: 1 1 auto;
			min-width: 100%;
			display: block;
			text-align: left;
		}
	}
}

.route-container {
	flex: 1 1 auto;
	min-height: 100%;
	display: flex;
}

mat-toolbar {
	.dynamic-spacer {
		flex: 1 1 auto;
	}
}
