.player-details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.83em;
}

mat-card.floating-block {
	padding: 0.83em;
}

section.tab-content {
	padding-top: 0.83em;
}
