@import "~@angular/material/theming";

@include mat-core();

$rnr-primary: mat-palette($mat-green);
$rnr-accent: mat-palette($mat-amber);
$rnr-warn: mat-palette($mat-orange);

$rnr-theme: mat-dark-theme($rnr-primary, $rnr-accent, $rnr-warn);

$apd-primary: mat-palette($mat-indigo);
$apd-accent: mat-palette($mat-blue);
$apd-warn: mat-palette($mat-red);

$apd-theme: mat-dark-theme($apd-primary, $apd-accent, $apd-warn);

@include angular-material-theme($apd-theme);

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

[hidden] {
	display: none !important;
}

.apd-primary-darker {
	background-color: mat-color($apd-primary, darker);
}

.apd-portal-app {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.apd-greedy-flex {
	flex: 1;
}

.apd-background {
	background-image: url('http://localhost:8080/arma-background.jpg');
}

.apd-centered-container {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

@mixin apd-row-card-theme($theme) {
	$primary: map-get($theme, primary);

	mat-card.apd-row-card {
		flex: 1 1 auto;
		border-bottom: 1px solid mat-color(map-get($theme, foreground), divider);
	}
}

@mixin apd-dashboard-card-theme($apd-t, $rnr-t) {
	$primary-apd: map-get($apd-t, primary);
	$primary-rnr: map-get($rnr-t, primary);

	.apd-dashboard-card {
		@extend .mat-elevation-z2;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin-left: 0.83em;
		min-width: 10%;

		%apd-dashboard-card-item {
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.83em;

			h1, h2, h3 {
				margin: 0;
			}
		}

		[apd-dashboard-card-title] {
			@extend %apd-dashboard-card-item;
		}
		
		[apd-dashboard-card-content] {
			@extend %apd-dashboard-card-item;
		}
	}

	.apd-dashboard-card[apd-faction=apd] {
		[apd-dashboard-card-title] {
			background-color: mat-color($primary-apd);
		}
	}

	.apd-dashboard-card[apd-faction=rnr] {
		[apd-dashboard-card-title] {
			background-color: mat-color($primary-rnr);
		}
	}

	[dir=rtl] {
		.apd-dashboard-card {
			margin: 0;
			margin-right: 0.83em;
		}
	}
}

@include apd-dashboard-card-theme($apd-theme, $rnr-theme);
@include apd-row-card-theme($apd-theme);

// I thought the default layout looked out of whack
mat-header-cell {
	.mat-sort-header-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
