mat-toolbar.toolbar-card-header {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

mat-card.toolbar-card-main {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
