<div class="faction-container">
	<apd-toolbar-card style="min-width: 100%;" title="APD">
		<ng-container toolbar-card-tools>
			<span class="dynamic-spacer"></span>
			<div class="toolbar-buttons">
				<button (click)="refreshData()" matTooltip="Refresh" mat-icon-button><mat-icon>refresh</mat-icon></button>
				<button (click)="toggleFilterMenu()" [color]="filterCount > 0 ? 'accent' : 'foreground'" matTooltip="Filters ({{filterCount}})" mat-icon-button><mat-icon>filter_list</mat-icon></button>
				<button [disabled]="user && user.admin_level < 0" (click)="openAddDialog()" mat-icon-button><mat-icon>add</mat-icon></button>
			</div>
		</ng-container>
		<section *ngIf="filterMenu" style="display: block; margin-bottom: 0.83em;">
			<div class="filter-row" dir="rtl">
				<div class="apd-darker-background filter-column">
					<h4 column-title>Basic</h4>
					<mat-checkbox matInput (change)="refreshData()" [(ngModel)]="lastFilters.hideRemoved">Hide Removed</mat-checkbox>
				</div>
			</div>
		</section>
		<section style="display: block">
			<div style="display: flex; align-items: center;">
				<mat-form-field style="flex: 1 1 auto;"><input #localFilterInput matInput placeholder="Search" style="flex: 1 1 auto;" (keyup)="onLocalFilterChange(localFilterInput.value)"></mat-form-field>
			</div>
		</section>
		<mat-table #table [dataSource]="playersDataSource" matSort (matSortChange)="onSortChange($event)">
			<ng-container matColumnDef="p_name">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.p_name}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="puid">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Steam ID</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.puid}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="squad">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Squad</mat-header-cell>
				<mat-cell *matCellDef="let element" [class.apd-warn]="!element.squad">{{element.squad || 'Removed'}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="rank">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Rank</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.rank}}</mat-cell>
			</ng-container>
			<!--
			<ng-container matColumnDef="cop_time">
				<mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
				<mat-cell *matCellDef="let element">{{getTimes(element.puid) | async}}</mat-cell>
			</ng-container>
			-->
			<ng-container matColumnDef="_next">
				<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
				<mat-cell *matCellDef="let element">
					<button routerLink="{{element.puid}}/details" matTooltip="Details" color="primary" mat-icon-button><mat-icon>details</mat-icon></button>
					<button routerLink="{{element.puid}}/edit" matTooltip="Edit" [disabled]="user && user.admin_level < 0" mat-icon-button><mat-icon>edit</mat-icon></button>
					<button *ngIf="element.squad" color="warn" [disabled]="(user && user.admin_level < 0)" (click)="openRemoveDialog(element)" matTooltip="Remove" mat-icon-button><mat-icon>remove</mat-icon></button>
					<button *ngIf="!element.squad" [disabled]="(user && user.admin_level < 0)" routerLink="{{element.puid}}/edit" matTooltip="Reinstate" mat-icon-button><mat-icon>add</mat-icon></button>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let rows; columns: displayedColumns"></mat-row>
		</mat-table>
		<apd-spinner [loading]="loading"></apd-spinner>
		<mat-paginator [length]="playerCount" pageSize="50" [pageSizeOptions]="[1, 5, 10, 50]" showFirstLastButtons="false" (page)="onPaginationChange($event)"></mat-paginator>
	</apd-toolbar-card>
	<router-outlet></router-outlet>
</div>
