.faction-container {
	margin: 0.83em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter-row {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0;

	.filter-column {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		margin-right: 0.83em;
		padding: 0.83em;

		mat-checkbox {
			margin-bottom: 0.2em;
		}
	}
}

.filter-column {
	[column-title] {
		text-align: center;
	}
}

.filter-row[dir=rtl] {
	.filter-column {
		margin-right: 0;
		margin-left: 0.83em;
	}
}

.toolbar-buttons {
	button {
		margin-left: 0.2em;
	}
}

.toolbar-buttons[dir=rtl] {
	button {
		margin-left: 0;
		margin-right: 0.2em;
	}
}

.dynamic-spacer {
	flex: 1 1 auto;
}
